
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Vagabond</h1>
                <p>Get Away</p>
            </div>
        </div>
        <!-- /.row -->
    </div>

