
<body class="welcome">

<div class="full">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div >
                <h1 class="text-muted welcome-text">Vagabond</h1>
                <p class="text-muted text-uppercase">Get Away</p>
            </div>
            <div>
                <h4 class="text-muted">San Francisco</h4>
                <h4 class="text-muted">London</h4>
                <h4 class="text-muted">Gibraltar</h4>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
    
</body>
