// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sanFran{
background-image: image-url("SF_backround.jpg");
background-size: cover;
height: 500px;
}