// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sanFran{
    background-image: image-url("fog.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100% 
}


 
.cityPostPage {
  font-family: 'Open Sans' , sans-serif;
  
  color: #404040;
}
.postBody {
  line-height: 1.5;
  margin: 30px 0;
}


.postPage {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}






.post-preview {
  color: #404040;
}

.post-preview > .post-title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > .post-subtitle {
  
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #000000;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}

